In [16]:
import pandas as pd
import numpy as np

data1 = pd.read_csv('대출.csv', index_col=0)
data2 = pd.read_csv('졸업자수.csv', index_col=0)
data3 = pd.read_csv('사교육비.csv', index_col=0)
data4 = pd.read_csv('인구.csv', index_col=0)
data5 = pd.read_csv('자가용.csv', index_col=0)
data6 = pd.read_csv('출산진료비.csv', index_col=0)

In [17]:
data6.rename(index={'2016년':2016, '2015년':2015, '2014년':2014, '2013년':2013, '2012년':2012, '2011년':2011, '2010년':2010, '2009년':2009}, inplace=True)

In [18]:
frames = [data1,data2, data3,data4,data5,data6]

In [19]:
result = pd.concat(frames, axis=1, sort=False)

In [21]:
data = pd.DataFrame(result)
data

,대출일반,대출주택,졸업자수,사교육비,인구,자가용,직장가입자,지역가입자
2000,NaN,NaN,NaN,NaN,47008111.0,NaN,NaN,NaN
2001,NaN,NaN,NaN,NaN,47370164.0,NaN,NaN,NaN
2002,NaN,NaN,NaN,NaN,47644736.0,NaN,NaN,NaN
2003,NaN,NaN,NaN,NaN,47892330.0,NaN,NaN,NaN
2004,NaN,NaN,NaN,NaN,48082519.0,NaN,NaN,NaN
2005,NaN,NaN,NaN,NaN,48184561.0,NaN,NaN,NaN
2006,NaN,NaN,NaN,NaN,48438292.0,NaN,NaN,NaN
2007,NaN,NaN,NaN,200400.0,48683638.0,NaN,NaN,NaN
2008,NaN,NaN,NaN,209095.0,49054708.0,NaN,NaN,NaN
2009,NaN,NaN,NaN,216259.0,49307835.0,NaN,75391264.0,27525025.0
2010,NaN,NaN,NaN,208718.0,49554112.0,NaN,88694835.0,30519406.0
2011,8.75,13.50,558932.0,201266.0,49936638.0,NaN,125900203.0,40538413.0
2012,4.75,3.75,566324.0,190395.0,50199853.0,NaN,160836393.0,49573644.0
2013,3.00,6.50,555142.0,185960.0,50428893.0,NaN,184333563.0,53303425.0
2014,7.00,23.50,557234.0,182297.0,50746659.0,NaN,183622983.0,51096341.0
2015,6.75,30.25,576023.0,178346.0,51014947.0,19622569.0,181165551.0,48949590.0
2016,3.50,9.75,580695.0,180606.0,51217803.0,20345309.0,169794557.0,45567250.0
2017,13.50,5.25,574009.0,186703.0,51361911.0,20984258.0,NaN,NaN
2018,3.50,-4.25,NaN,194852.0,51606633.0,21539573.0,NaN,NaN
2019,7.50,-2.25,NaN,NaN,NaN,21908362.0,NaN,NaN

In [22]:
data.to_csv('data_merge1.csv', index=True)

In [23]:
data = pd.read_csv('data_merge1.csv', index_col=0)

In [24]:
data

,대출일반,대출주택,졸업자수,사교육비,인구,자가용,직장가입자,지역가입자
2000,NaN,NaN,NaN,NaN,47008111.0,NaN,NaN,NaN
2001,NaN,NaN,NaN,NaN,47370164.0,NaN,NaN,NaN
2002,NaN,NaN,NaN,NaN,47644736.0,NaN,NaN,NaN
2003,NaN,NaN,NaN,NaN,47892330.0,NaN,NaN,NaN
2004,NaN,NaN,NaN,NaN,48082519.0,NaN,NaN,NaN
2005,NaN,NaN,NaN,NaN,48184561.0,NaN,NaN,NaN
2006,NaN,NaN,NaN,NaN,48438292.0,NaN,NaN,NaN
2007,NaN,NaN,NaN,200400.0,48683638.0,NaN,NaN,NaN
2008,NaN,NaN,NaN,209095.0,49054708.0,NaN,NaN,NaN
2009,NaN,NaN,NaN,216259.0,49307835.0,NaN,75391264.0,27525025.0
2010,NaN,NaN,NaN,208718.0,49554112.0,NaN,88694835.0,30519406.0
2011,8.75,13.50,558932.0,201266.0,49936638.0,NaN,125900203.0,40538413.0
2012,4.75,3.75,566324.0,190395.0,50199853.0,NaN,160836393.0,49573644.0
2013,3.00,6.50,555142.0,185960.0,50428893.0,NaN,184333563.0,53303425.0
2014,7.00,23.50,557234.0,182297.0,50746659.0,NaN,183622983.0,51096341.0
2015,6.75,30.25,576023.0,178346.0,51014947.0,19622569.0,181165551.0,48949590.0
2016,3.50,9.75,580695.0,180606.0,51217803.0,20345309.0,169794557.0,45567250.0
2017,13.50,5.25,574009.0,186703.0,51361911.0,20984258.0,NaN,NaN
2018,3.50,-4.25,NaN,194852.0,51606633.0,21539573.0,NaN,NaN
2019,7.50,-2.25,NaN,NaN,NaN,21908362.0,NaN,NaN